<!DOCTYPE HTML>

<HTML>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body><div class="main-content">
   {{>header}}   
    <p>This site was created by Shan . It uses data from Mapbpx.com and Darksky.com </p>
    <img class="portrait" src="/img/shan.jpg">
    
</div>
    {{>footer}}

</body>
</HTML>