body {
    color:#333333;
    font-family : arial;
    max-width:650px;
    margin : 0 auto;
    padding : 0 16px;

    display : flex;
    flex-direction : column;
    min-height: 100vh;
}

footer { 
    color : #888888;
    border-top :1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;


}

header {
    margin-top:16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color :#888888;
    margin-right: 16px;
    text-decoration: none;
}
body{
    background-image: url("https://bloximages.chicago2.vip.townnews.com/tucson.com/content/tncms/assets/v3/editorial/a/0d/a0dc05b2-f649-5a81-a541-d6f556cbf05d/5b1afa633c3dc.image.jpg?resize=1200%2C692");
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portrait{
        width:250px;
}

.main-content{
    flex-grow:1; 
}

input { 
    border : 1px solid #cccccc;
    padding : 8px;
}

button { 
    cursor : pointer;
    border : 1px solid #88888888;
    background : #88888888;
    color : white;
    padding : 8px;

}